[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = http://github.com/tpope/vim-haml.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/vim-matchit"]
	path = vim/bundle/vim-matchit
	url = http://github.com/edsono/vim-matchit.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = http://github.com/tpope/vim-rails.git
