"*":
  "autocomplete-plus": {}
  autosave:
    enabled: true
  "circle-ci":
    apiToken: "484de1762c1873e96cbe9cea3452eb0b136aaef9"
  core:
    audioBeep: false
    disabledPackages: [
      "autocomplete-paths"
      "wrap-guide"
    ]
    themes: [
      "nucleus-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "a335ab74-90be-54cf-32c4-7f8d6a8d79ad"
  "file-types":
    js: "source.js.jsx"
    jsx: "source.jsx"
  "fuzzy-finder":
    useAlternateScoring: true
  jshint:
    supportLintingJsx: true
    validateOnlyOnSave: true
  "language-babel":
    transpileOnSave: false
  linter: {}
  "linter-ruby":
    rubyExecutablePath: "/usr/local/opt/rbenv/shims/ruby"
  "markdown-preview":
    useGitHubStyle: true
  react: {}
  "ruby-block":
    highlightLineNumber: true
    showBottomPanel: false
  "save-session":
    dataSaveFolder: "/Users/rdeshpande/.atom/packages/save-session/projects"
    project: "/Users/rdeshpande/dev/fundera"
    treeSize: 504
    windowHeight: 773
    windowWidth: 1280
    windowX: 0
    windowY: 23
  "vim-mode":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 8
    neverCloseDirty: true
    neverCloseUnsaved: true
